.sidebar {
    height: 100vh;
    background-color: #9ab5d1;
    /* background-color: #f8f9fa; */
    padding: 15px;
}

.sidebar .side-nav {
    color: #fff ;
    text-decoration: none; 
    margin-bottom: 10px; 
}

.sidebar .side-nav.active {
    background-color: #1055a0;
    color: #fff;
    border-radius: 4px;
    padding: 10px;
    text-align: center;
}
.sidebar .side-nav{
    background-color: #007bff;
    color: #fff;
    border-radius: 4px;
    padding: 10px;
    text-align: center;
}

/* add media queries for small screens */
@media (max-width: 576px){
    .navbar .side-nav{
        margin-right: 0; /* remove margin for small screens */
    }
}