/* style the navbar and the brand
.container{
    background-color: transparent;
    border-radius: 5px;
}
.navbar{
    background-color: #343a40;
}
.navbar .navbar-brand {
    color: #fff;
}
/* style the navigation links */
/* .navbar .nav-link {
    color: #fff ; /*white text color
    text-decoration: none; /* remove underline 
    margin-right: 20px; /* add margin between navigation links 
} */ 

/* add media queries for small screens */
@media (max-width: 576px){
    /* .navbar .nav-link{
        margin-right: 0; 
    } */
}